#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS = --enable-unicode
DEB_INSTALL_MANPAGES_saga = saga_cmd.1

VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | \
   cut -f 2 -d ' ' | cut -f 1 -d '-')
LIBSAGAAPISO := $(shell grep '^SOVERSION =' src/saga_core/saga_api/Makefile.am | sed 's/SOVERSION = \([0-9]*\):[0-9]*:[0-9]*/\1/g')
LIBSAGAGDISO := $(shell grep '^SOVERSION =' src/saga_core/saga_gdi/Makefile.am | sed 's/SOVERSION = \([0-9]*\):[0-9]*:[0-9]*/\1/g')

# remove libtool helpers
binary/saga::
	find debian/saga/usr/lib ! -type d -a -name "*.la" -delete

build/saga::
	pod2man --section=1 --release=$(VERSION) --center " " debian/saga_cmd.pod >saga_cmd.1
	pod2man --section=1 --release=$(VERSION) --center " " debian/saga_gui.pod >saga_gui.1

cleanbuilddir/saga::
	rm -f saga_cmd.1
	rm -f saga_gui.1

debian/% :: debian/%.in
	sed -e 's/@VERSION@/$(VERSION)/' -e 's/@ABI@/$(ABI)/' $< >$@
	sed -e 's/@LIBSAGAAPISO@/$(LIBSAGAAPISO)/' -e 's/@LIBSAGAGDISO@/$(LIBSAGAGDISO)/' $< >$@

