#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS = --enable-unicode

DEB_INSTALL_MANPAGES_saga = saga_cmd.1

build/saga::
	pod2man --section=1 --release=$(VERSION) --center " " debian/saga_cmd.pod >saga_cmd.1

cleanbuilddir/saga::
	rm -f saga_cmd.1
